SECRL_PORT=8080
SECRL_DATA_DIR=./.secrl-lite-data
SECRL_MASTER_KEY=
SECRL_SESSION_SECRET=
SECRL_INITIAL_ADMIN_USERNAME=admin
SECRL_INITIAL_ADMIN_PASSWORD=
SECRL_AGENT_SERVICE_CAPABILITY_SECRET=
SECRL_SECRL_RUNTIME_ENABLED=false
SECRL_MYSQL_ROOT_PASSWORD=
SECRL_MYSQL_USER=benchmark_ro
SECRL_MYSQL_PASSWORD=
SECRL_MYSQL_DATABASE=env_monitor_db
